body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin: 5% 3%;
  color: #FEF2BF;
  min-height: 30px;
}

.container {
  display: block;
  width: 80%;
  /* Adjusted width for better responsiveness */
  margin: auto;
}

.btn {
  margin: 2%;
  /* Adjusted margin for better spacing */
  display: inline-block;
  height: 18vw;
  /* Adjusted height as a percentage of viewport width */
  width: 18vw;
  /* Adjusted width as a percentage of viewport width */
  max-height: 200px;
  min-height: 150px;
  max-width: 200px;
  min-width: 150px;
  border: 5px solid black;
  border-radius: 20%;
  font-size: 1.5vw;
  /* Adjusted font size as a percentage of viewport width */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 10px white;
  background-color: grey;
}

.start-button {
  margin: 20px;
  background-color: #FEF2BF;
  color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Media query for smaller screens */
@media screen and (max-width: 728px) {
  .btn {
    min-width: 100px;
    min-height: 100px;
    height: 20vw;
    width: 20vw;
    font-size: 3vw;
    margin: 2%;
  }

  #level-title {
    font-size: 2rem;
  }
}

/* Media query to hide the start button on screens wider than 600px */
@media screen and (min-width: 729px) {
  .start-button {
    display: none;
  }
}